[MESSAGES CONTROL]

disable=protected-access, too-many-arguments, too-many-instance-attributes, too-few-public-methods

enable=bad-indentation,line-too-long


[FORMAT]

indent-string='    '

max-line-length=120